@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://code.getmdl.io/1.3.0/material.indigo-pink.min.css';

html,
body
{
    font-family: sans-serif;

    margin: 0;
    padding: 0;

    background-color: lightgrey;
}
.cardShadow
{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
